<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head.ejs') %>
	<style type="text/css">
		.remove-icon { 
			display:none;
			position:absolute;
			top:50px;
			left:50px;
		}

		.remove-icon:hover { 
			display: block; 
		}

		.product-image {}
		.product-image:hover + .remove-icon { display: block; }
	</style>
</head>
<body class="container">
	<h1 class="box b1 lucida-grande padding-10 center">DigitalOcean Spaces</h1>
	<div class="box b3 border container padding-10 margin-top-5">
		<%- include('./partials/panel.ejs') %>
	</div>

	<div id="preview-box" class="box b2-3 border padding-10 margin-top-5 scroll-x"></div>
	<%- include('./partials/loader.ejs') %>
</body>
<%- include('./partials/footer.ejs') %>
<script src="image/model.js"></script>
<script src="files.js"></script>
<script>
	list();
</script>
</html>