<!DOCTYPE html>
<html>
<head>
<%- include('./partials/head.ejs') %>
<style type="text/css">
	.scroll-x { overflow-x: scroll; white-space: nowrap; }
	.remove-icon { 
		display:none;
		position:absolute;
		top:50px;
		left:50px;
	}

	.remove-icon:hover { 
		display: block; 
	}

	.product-image {}
	.product-image:hover + .remove-icon { display: block; }
</style>
</head>
<body class="container">
	<h1 class="box b1 lucida-grande padding-10 center">DigitalOcean Spaces</h1>
	<div class="box b3 border container padding-10 margin-top-5">
		<%- include('./partials/panel.ejs') %>
	</div>
	
	<div class="box b3 border container padding-10 margin-top-5">
		<h2 class="lucida-grande">Upload a file</h3>
		<form id="upload-form" enctype="multipart/form-data" class="box b1 border padding-10 margin-top-5">
			<input type="text" name="name" class="box b1 input-generic margin-top-5 nofocus center" autocomplete="off">
			<div class="box b1 margin-top-5">
				<label for="files" class="em09">Selecionar imagens</label>
				<input type="file" id="files" name="files" class="box b1 margin-top-5" accept="image/*" multiple required>
			</div>
			<button type="submit" class="box b1 submit-generic margin-top-5">Upload</button>
		</form>
	</div>
	<div id="preview-box" class="box b3 border padding-10 margin-top-5 scroll-x"></div>
</body>
<%- include('./partials/footer.ejs') %>
<script src="upload.js"></script>
</html>